*.pyc
*~
.idea/
docs/build
*.orig
*.rej
*.pyc
*.pyo
*.swp
*.swo
*.po
*.egg*
*.log
*untracked.*
docs/_build/*

node_modules/*
tmp/*
dist/*

# actually lets check the templated index in!
DISABLED/static/index.html.templated

