@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src:
		local('Roboto Light'),
		local('Roboto-Light'),
		/* from https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUffY6323mHUZFJMgTvxaG2iE.eot */
		url('Roboto_300.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Roboto_300.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2 */
		url('Roboto_300.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=Hgo13k-tfSpn0qi1SFdUfZbd9NUM7myrQQz30yPaGQ4&skey=11ce8ad5f54705ca&v=v16#Roboto */
		url('Roboto_300.svg#Roboto') format('svg'),
		/* from https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf */
		url('Roboto_300.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		/* from https://fonts.gstatic.com/s/roboto/v16/5YB-ifwqHP20Yn46l_BDhA.eot */
		url('Roboto_400.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/roboto/v16/2UX7WLTfW3W8TclTUvlFyQ.woff */
		url('Roboto_400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2 */
		url('Roboto_400.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v16#Roboto */
		url('Roboto_400.svg#Roboto') format('svg'),
		/* from https://fonts.gstatic.com/s/roboto/v16/zN7GBFwfMP4uA6AR0HCoLQ.ttf */
		url('Roboto_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src:
		local('Roboto Italic'),
		local('Roboto-Italic'),
		/* from https://fonts.gstatic.com/s/roboto/v16/OiNnAEwKzzJkQCr4qZmeq_esZW2xOQ-xsNqO47m55DA.eot */
		url('Roboto_400italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/roboto/v16/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff */
		url('Roboto_400italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/roboto/v16/vPcynSL0qHq_6dX7lKVByfesZW2xOQ-xsNqO47m55DA.woff2 */
		url('Roboto_400italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=d6hCKsxkfwUDuz8291ns3vesZW2xOQ-xsNqO47m55DA&skey=c608c610063635f9&v=v16#Roboto */
		url('Roboto_400italic.svg#Roboto') format('svg'),
		/* from https://fonts.gstatic.com/s/roboto/v16/W4wDsBUluyw0tK3tykhXEfesZW2xOQ-xsNqO47m55DA.ttf */
		url('Roboto_400italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src:
		local('Roboto Bold'),
		local('Roboto-Bold'),
		/* from https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOPY6323mHUZFJMgTvxaG2iE.eot */
		url('Roboto_700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Roboto_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2 */
		url('Roboto_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=d-6IYplOFocCacKzxwXSOJbd9NUM7myrQQz30yPaGQ4&skey=c06e7213f788649e&v=v16#Roboto */
		url('Roboto_700.svg#Roboto') format('svg'),
		/* from https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOKCWcynf_cDxXwCLxiixG1c.ttf */
		url('Roboto_700.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src:
		local('Roboto Bold Italic'),
		local('Roboto-BoldItalic'),
		/* from https://fonts.gstatic.com/s/roboto/v16/t6Nd4cfPRhZP44Q5QAjcC2fQcKutQXcIrRfyR5jdjY8.eot */
		url('Roboto_700italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/roboto/v16/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff */
		url('Roboto_700italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/roboto/v16/t6Nd4cfPRhZP44Q5QAjcC44P5ICox8Kq3LLUNMylGO4.woff2 */
		url('Roboto_700italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=t6Nd4cfPRhZP44Q5QAjcC3NsigHlcrQGNV8nkUSFQfc&skey=dd030d266f3beccc&v=v16#Roboto */
		url('Roboto_700italic.svg#Roboto') format('svg'),
		/* from https://fonts.gstatic.com/s/roboto/v16/t6Nd4cfPRhZP44Q5QAjcC50EAVxt0G0biEntp43Qt6E.ttf */
		url('Roboto_700italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 300;
	src:
		local('Roboto Mono Light'),
		local('RobotoMono-Light'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz7XcjzEax2LfQAlK8DdMzhA.eot */
		url('Roboto_Mono_300.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fzx_xHqYgAV9Bl_ZQbYUxnQU.woff */
		url('Roboto_Mono_300.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz0o2lTMeWA_kmIyWrkNCwPc.woff2 */
		url('Roboto_Mono_300.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=N4duVc9C58uwPiY8_59Fzz4dnM32POWavC8T_whbZeI&skey=6c4331d29fc39c00&v=v4#RobotoMono */
		url('Roboto_Mono_300.svg#RobotoMono') format('svg'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz7fB31yxOzP-czbf6AAKCVo.ttf */
		url('Roboto_Mono_300.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto Mono'),
		local('RobotoMono-Regular'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY2fQcKutQXcIrRfyR5jdjY8.eot */
		url('Roboto_Mono_400.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY4bN6UDyHWBl620a-IRfuBk.woff */
		url('Roboto_Mono_400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY44P5ICox8Kq3LLUNMylGO4.woff2 */
		url('Roboto_Mono_400.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=hMqPNLsu_dywMa4C_DEpY3NsigHlcrQGNV8nkUSFQfc&skey=7b92570108d40690&v=v4#RobotoMono */
		url('Roboto_Mono_400.svg#RobotoMono') format('svg'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY50EAVxt0G0biEntp43Qt6E.ttf */
		url('Roboto_Mono_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src:
		local('Roboto Italic'),
		local('Roboto-Italic'),
		/* from https://fonts.gstatic.com/s/roboto/v16/OiNnAEwKzzJkQCr4qZmeq_esZW2xOQ-xsNqO47m55DA.eot */
		url('Roboto_400italic.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/roboto/v16/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff */
		url('Roboto_400italic.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/roboto/v16/vPcynSL0qHq_6dX7lKVByfesZW2xOQ-xsNqO47m55DA.woff2 */
		url('Roboto_400italic.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=d6hCKsxkfwUDuz8291ns3vesZW2xOQ-xsNqO47m55DA&skey=c608c610063635f9&v=v16#Roboto */
		url('Roboto_400italic.svg#Roboto') format('svg'),
		/* from https://fonts.gstatic.com/s/roboto/v16/W4wDsBUluyw0tK3tykhXEfesZW2xOQ-xsNqO47m55DA.ttf */
		url('Roboto_400italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	src:
		local('Roboto Mono Bold'),
		local('RobotoMono-Bold'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz7Ft29aCHKT7otDW9l62Aag.eot */
		url('Roboto_Mono_700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59FzzqR_3kx9_hJXbbyU8S6IN0.woff */
		url('Roboto_Mono_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz4lIZu-HDpmDIZMigmsroc4.woff2 */
		url('Roboto_Mono_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=N4duVc9C58uwPiY8_59Fz3tNmQEE9wZ6UZlmiISB1pg&skey=284979c22fb7938a&v=v4#RobotoMono */
